body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 16pt;
  margin: 0;
  min-width: 600px; /* Minimum width */
  min-height: 500px; /* Minimum height */
}

#mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#webcamViewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Adjust width as needed */
  max-width: 960px; /* Ensure the webcam doesn’t grow too large */
  margin: 5px;
}

#processingTimeContainer {
  width: 100%; /* Ensure it takes full width of the container */
}

#processingTime {
  margin: 0;
  font-size: 12pt; /* Adjust as needed */
}

#webcam {
  width: 100%; /* Responsive width */
  height: auto; /* Maintain aspect ratio */
  background: black;
  display: block;
  transform: scaleX(-1);
}

#controlPanelContainer {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  width: 100%; /* Match the width of the webcam */
  align-items: flex-start; /* Align items to the left */
}

#controlPanelRow {
  display: flex; /* Align children in a row */
  width: 100%; /* Full width of the container */
  justify-content: space-between; /* Distribute space between items */
}

.controlPanelWidget {
  display: flex;
  align-items: center; /* Vertically center items within the widget */
  padding-top: 10px; /* Adjust padding as needed */
}

.controlPanelWidget label {
  margin-right: 10px; /* Space between label and select element */
}

#webcamSelect, #deviceSelect {
  font-size: 14pt; /* Adjust font size as needed */
}

#toggleWebcamButton {
  width: 200px; /* Set a fixed width */
  padding: 12px; /* Adjust padding for better size */
  font-size: 14pt; /* Increase font size for better readability */
  background-color: #6c22ef; /* Set background color */
  color: white; /* Set text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Optional: round the corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  text-align: center; /* Center text inside the button */
}

#toggleWebcamButton:hover {
  background-color: #5a1db3; /* Darker shade on hover */
}

input[type="checkbox"] {
  appearance: none;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="checkbox"]::before {
  content: '';
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

input[type="checkbox"]:checked {
  background-color: #66bb6a;
}

input[type="checkbox"]:checked::before {
  transform: translateX(25px);
}
