--extra-index-url https://download.pytorch.org/whl/cpu

openvino==2025.3
openvino-genai==2025.3
nncf==2.18.0
optimum-intel==1.25.1
onnx==1.18.0
huggingface-hub==0.33.1
diffusers==0.34.0
transformers==4.53.3
torch==2.8.0
torchvision==0.23.0
accelerate==1.2.1
pillow==12.1.1
opencv-python==4.10.0.84
numpy==2.2.6
gradio==5.35.0
tqdm==4.67.1
qrcode[pil]==8.2
sentencepiece==0.2.1
