--extra-index-url https://download.pytorch.org/whl/cpu

openvino==2025.1
openvino-genai==2025.1
optimum-intel==1.23.0
optimum==1.25.3
onnx==1.17.0
huggingface-hub==0.29.3
diffusers==0.32.1
transformers==4.50.3
torch==2.7.0
accelerate==1.2.1
pillow==11.1.0
opencv-python==4.10.0.84
numpy==2.1.3
gradio==5.26.0
tqdm==4.67.1
