--extra-index-url https://download.pytorch.org/whl/cpu

# openvino 2024.3 and nncf=2.12.0 cause issues for NPU
openvino==2024.2
nncf==2.11.0
ultralytics==8.2.87
numpy==1.23.5
pillow==10.3.0
opencv-python==4.10.0.84
onnx==1.16.0
torch==2.2.0
torchvision==0.17.0
supervision==0.22.0
tqdm==4.66.3
pycocotools==2.0.6
cython==0.29.35
