--extra-index-url https://download.pytorch.org/whl/cpu

openvino==2025.2
nncf==2.17.0
ultralytics==8.3.171
numpy==2.2.6
pillow==11.3.0
opencv-python==4.12.0.88
torch==2.8.0
torchvision==0.23.0
supervision==0.25.1
tqdm==4.66.3
cython==0.29.35
deep-sort-realtime==1.3.2
qrcode[pil]==8.2
