--extra-index-url https://download.pytorch.org/whl/cpu
jupyterlab==4.2.5
ipywidgets==8.1.5
openvino==2024.3.0
onnx==1.16.0
onnxruntime-openvino==1.18.0
optimum==1.19.1
accelerate==0.33.0
optimum-intel==1.16.1
diffusers==0.27.2
numpy==1.26.4
huggingface_hub==0.25.0
