--extra-index-url https://download.pytorch.org/whl/cpu
openvino==2024.4.0
accelerate==1.0.1
diffusers==0.31.0
ipywidgets==8.1.5
torch==2.4.1
transformers==4.48.3
jupyterlab==4.2.5
urllib3==2.2.3
torchvision==0.19.1
pillow==11.0.0