--extra-index-url https://download.pytorch.org/whl/cpu

openvino==2026.0.0
openvino-genai==2026.0.0
huggingface-hub==0.34.4
numpy==2.2.6
opencv-python==4.11.0.86
pillow==12.2.0
transformers==5.0.0rc3
torch==2.8.0
torchvision==0.23.0
qrcode[pil]==8.2
