openvino-dev==2023.0.0
nncf==2.5.0
ultralytics==8.0.117
# onnx>1.16.1 doesn't work on windows
onnx==1.16.1; platform_system == "Windows"
onnx==1.17.0; platform_system != "Windows"
supervision==0.17.1
jupyterlab==4.2.5
pycocotools==2.0.6