[req]
distinguished_name = req_distinguished_name
prompt = no
req_extensions = req_ext
x509_extensions = x509_ext

[req_distinguished_name]
commonName = ##CN##

[x509_ext]
subjectKeyIdentifier = hash
basicConstraints=CA:FALSE
keyUsage = digitalSignature, keyAgreement
extendedKeyUsage = ##KEYUSAGE##
subjectAltName = @alt_names

[req_ext]
subjectAltName = @alt_names

[alt_names]
##SAN##
