mcp==1.10.0
llama-index==0.13.2
ipywidgets==8.1.7
llama-index-core==0.12.41
llama-index-embeddings-openvino==0.6.0 
llama-index-multi-modal-llms-openvino==0.4.0 
llama-index-readers-file==0.4.7
llama-index-vector-stores-qdrant==0.6.0
transformers==4.53.0
moviepy==2.2.1
librosa==0.10.2
python-ffmpeg==1.0.16
open-clip-torch==2.32.0
huggingface-hub==0.31.4
gradio==5.42.0 
opencv-python==4.11.0.86
webvtt-py==0.5.1
openvino-genai==2025.1.0.0
ffmpeg==1.4
langchain==0.3.27
llama-index-tools-mcp==0.2.4
torch==2.8.0 
langchain_community==0.3.27 
lancedb==0.24.3 
