#openvino GenAI (which also installs openvino packages)
openvino_genai==2024.6.0

# for VAD
sherpa-onnx==1.10.41
sounddevice==0.5.1

# for the UI
PySide6==6.8.1

#others
opencv-python==4.10.0.84
pillow==11.1.0
torchvision==0.20.1