__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
.git/
*.db
*.log
*.pt
*.bin
*.onnx
*.xml
*.jpg
*.png
*.mp4
datasets/
DeepLabV3Plus-Pytorch/
qt_app_pyside1/build/
qt_app_pyside1/__pycache__/
qt_app_pyside1/*.pt
qt_app_pyside1/*.bin
qt_app_pyside1/*.onnx
qt_app_pyside1/*.xml
qt_app_pyside1/*.jpg
qt_app_pyside1/*.png
qt_app_pyside1/*.mp4
