--extra-index-url https://download.pytorch.org/whl/cpu

openvino==2025.2
nncf==2.17.0
ultralytics==8.3.159
numpy==2.2.6
pillow==11.3.0
opencv-python==4.12.0.88
onnx==1.18.0
torch==2.8.0
torchvision==0.23.0
supervision==0.11.0
jupyterlab==4.2.5
tqdm==4.66.3
pycocotools==2.0.10
cython==0.29.35
