apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-web
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}-web
spec:
  type: {{ .Values.web.service.type }}
  ports:
  - port: 443
    targetPort: 443
    protocol: TCP
    name: https
  selector:
    app: {{ .Release.Name }}-web