--extra-index-url https://download.pytorch.org/whl/cpu

openvino==2025.2
openvino-genai==2025.2
optimum-intel==1.24.0
nncf==2.17.0

llama-index==0.12.50
llama-index-llms-openvino-genai==0.1.1
llama-index-embeddings-openvino==0.5.2
llama-index-postprocessor-openvino-rerank==0.4.1
llama-index-vector-stores-faiss==0.3.0
langchain-text-splitters==0.3.4
faiss-cpu==1.11.0

onnx==1.18.0
onnxruntime==1.20.1
torch==2.7.1

transformers==4.52.4
pymupdf==1.24.10
pyyaml==6.0.1

gradio==5.35.0
