--extra-index-url https://download.pytorch.org/whl/cpu

openvino==2024.4.0
optimum-intel==1.19.0
optimum==1.22.0
nncf==2.13.0

llama-index==0.11.2
llama-index-llms-openvino==0.3.1
llama-index-embeddings-openvino==0.3.1

onnx==1.16.1
onnxruntime==1.17.3
torch==2.4.1

transformers==4.43.4
pypdf==4.3.1
pyyaml==6.0.1

gradio==4.42.0
fastapi==0.112.4
