--extra-index-url https://download.pytorch.org/whl/cpu

openvino==2025.4
openvino-genai==2025.4
optimum-intel==1.25.2
nncf==2.19.0

llama-index==0.13.6
llama-index-llms-openvino-genai==0.2.1
llama-index-embeddings-openvino==0.6.1
llama-index-postprocessor-openvino-rerank==0.5.1
llama-index-vector-stores-chroma==0.5.3
langchain-text-splitters==0.3.11
chromadb==1.0.15

onnx==1.18.0
onnxruntime==1.20.1
torch==2.8.0

transformers==4.53.3
datasets==4.0.0
pymupdf==1.26.3
pyyaml==6.0.1

gradio==5.35.0
qrcode[pil]==8.2
