--extra-index-url https://download.pytorch.org/whl/cpu

openvino==2025.2
optimum-intel==1.24.0
nncf==2.17.0

llama-index==0.13.0
llama-index-llms-openvino==0.5.0
llama-index-embeddings-openvino==0.6.0
llama-index-postprocessor-openvino-rerank==0.5.0
onnx==1.18.0
onnxruntime==1.20.1
torch==2.6.0

transformers==4.52.4
librosa==0.10.2
pyyaml==6.0.1
PyMuPDF==1.24.10

gradio==5.35.0
