--extra-index-url https://download.pytorch.org/whl/cpu

openvino==2025.2
optimum-intel==1.25.1
nncf==2.17.0

llama-index==0.13.0
llama-index-llms-openvino-genai==0.1.1
llama-index-embeddings-openvino==0.5.2
llama-index-postprocessor-openvino-rerank==0.4.1
onnx==1.18.0
onnxruntime==1.20.1
torch==2.8.0

transformers==4.53.3
datasets==4.0.0
librosa==0.10.2
pyyaml==6.0.1
pymupdf==1.26.3

gradio==5.35.0
