--extra-index-url https://download.pytorch.org/whl/cpu

openvino==2025.1
optimum-intel==1.23.0
optimum==1.25.3
nncf==2.16.0

llama-index==0.12.41
llama-index-llms-openvino==0.4.0
llama-index-embeddings-openvino==0.5.1
llama-index-postprocessor-openvino-rerank==0.4.1
llama-index-vector-stores-faiss==0.3.0
faiss-cpu==1.11.0
onnx==1.18.0
onnxruntime==1.20.1
torch==2.7.1

transformers==4.50.3
librosa==0.10.2
pyyaml==6.0.1
PyMuPDF==1.24.10

gradio==5.35.0
