--extra-index-url https://download.pytorch.org/whl/cpu

jupyterlab==4.4.4
iprogress==0.4
ipywidgets==8.1.7

openvino==2025.2.0
nncf==2.17.0
ultralytics==8.3.119
numpy==2.2.6
pillow==11.3.0
opencv-python==4.12.0.88
onnx==1.18.0
torch==2.7.1
torchvision==0.22.1
supervision==0.25.1
tqdm==4.67.1
pycocotools==2.0.10
cython==3.1.2
datumaro==0.5.0
lapx==0.5.11.post1