name: Sanity check (demos)

on:
  schedule:
    - cron: "0 2 * * *"
  pull_request:
    branches: [master]
  push:
    branches: [master]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HF_HOME: ${{ github.workspace }}/.hf_home

jobs:
  find-subprojects:
    runs-on: ubuntu-latest
    outputs:
      gradio: ${{ steps.categorize-subprojects.outputs.gradio }}
      webcam: ${{ steps.categorize-subprojects.outputs.webcam }}
      js: ${{ steps.categorize-subprojects.outputs.js }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Determine subprojects to test
        id: find-updates
        uses: ./.github/reusable-steps/find-updates
        with:
          dir: demos
          ci_config_file: sanity-check-demos.yml
      - name: Categorize subprojects
        id: categorize-subprojects
        uses: ./.github/reusable-steps/categorize-projects
        with:
          subprojects: ${{ steps.find-updates.outputs.subproject_dirs }}

  gradio:
    needs: find-subprojects
    if: ${{ needs.find-subprojects.outputs.gradio != '[]' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python: ["3.10", "3.13"]
        subproject: ${{ fromJson(needs.find-subprojects.outputs.gradio) }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/reusable-steps/setup-os
      - name: Cache Hugging Face models
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.hf_home
          key: hfhome-${{ runner.os }}-${{ github.ref }}-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            hfhome-${{ runner.os }}-${{ github.ref }}
            hfhome-${{ runner.os }}
            hfhome-
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - uses: ./.github/reusable-steps/setup-python
        with:
          python: ${{ matrix.python }}
          project: ${{ matrix.subproject }}
      - name: Login to HF
        shell: bash
        run: |
          if [ -n "${{ secrets.HF_TOKEN }}" ]; then
            huggingface-cli login --token ${{ secrets.HF_TOKEN }}
          else
            echo "HF_TOKEN not set, continuing without login."
          fi
      - uses: ./.github/reusable-steps/gradio-action
        with:
          script: main.py
          project: ${{ matrix.subproject }}

  webcam:
    needs: find-subprojects
    if: ${{ needs.find-subprojects.outputs.webcam != '[]' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python: ["3.10", "3.13"]
        subproject: ${{ fromJson(needs.find-subprojects.outputs.webcam) }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/reusable-steps/setup-os
      - name: Cache Hugging Face models
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/.hf_home
          key: hfhome-${{ runner.os }}-${{ github.ref }}-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            hfhome-${{ runner.os }}-${{ github.ref }}
            hfhome-${{ runner.os }}
            hfhome-
      - uses: ./.github/reusable-steps/setup-python
        with:
          python: ${{ matrix.python }}
          project: ${{ matrix.subproject }}
      - uses: ./.github/reusable-steps/timeouted-action
        name: Run Webcam Demo
        with:
          command: python main.py --stream sample_video.mp4
          project: ${{ matrix.subproject }}

  js:
    needs: find-subprojects
    if: ${{ needs.find-subprojects.outputs.js != '[]' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        subproject: ${{ fromJson(needs.find-subprojects.outputs.js) }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/reusable-steps/setup-os
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
      - name: Install dependencies
        run: |
          cd ${{ matrix.subproject }}
          npm install
      - uses: ./.github/reusable-steps/timeouted-action
        name: Run JS Project
        with:
          command: npm start
          project: ${{ matrix.subproject }}
          timeout: 1m
